* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	
}

#readBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	border:1px solid #aba9ab;
	display:inline-block;
	
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:52px;
	line-height:52px;
	width:170px;
	text-decoration:none;
	text-align:center;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dedbde), color-stop(1, #a19ea1) );
	background:-moz-linear-gradient( center top, #dedbde 5%, #a19ea1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedbde', endColorstr='#a19ea1');
	background-color:#dedbde;

	
	padding-left: 3px;

	
}

.readBtn {
	text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
	color:#262626;

}

.readBtnClicked {
	color: #F7F7F7;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

#readBtn img {
	width: 40px;
	vertical-align: middle;
	display: inline;
	padding-left: 3px;
}

#headerLogo {
	position: absolute;
	left: 20px;
	height: 45px;
	padding-top: 2px;
}

#appIcon {
	
	height: 35px;
	margin-left: 50px;
	vertical-align: middle;
	padding-bottom: 5px;
	padding-right: 5px;
}

#settingsIcon {
	z-index: 6;
	position: absolute;
	height: 35px;
	left: 1%;
	top: 3px;
	cursor: pointer;
	
}
#backIcon {
	z-index: 6;
	position: absolute;
	height: 25px;
	left: 1%;
	top: 10px;
	padding-left: 2px;
	cursor: pointer;
}

#settingsIcon, #backIcon, #infoIcon, #refreshIcon {
	-webkit-tap-highlight-color: rgba(183, 183, 183, 0.5);
	-moz-tap-highlight-color: rgba(183, 183, 183, 0.5);
	tap-highlight-color: rgba(183, 183, 183, 0.5);
	
}

#settingsIcon:active, #backIcon:active, #infoIcon:active, #refreshIcon:active {
	background-color: #B7B7B7;
	cursor:pointer;
}

#backIcon {
	display: none;
}

#navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navList li {
	display: inline;
	width: 24%;
	height: 100%;
	float: left;
	text-align: center;
}

#navList li img {
	height: 45px;
	
}

#navList li:active {
	background-color: #B7B7B7;
}


.pageCenterVis {
	position: absolute;
	left: 0;
	width: 100%;
	/*margin-left: 1%;*/
	top: 0;
	bottom: 0;
	margin-bottom: 0px;
	
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
}

.pageCenterInv {
	position: absolute;
	left: 200px;
	width: 100%;
	/*margin-left: 1%;*/
	top: 0;
	bottom: 0px;
	
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
}

.pageRightInv {
	
	z-index: 4;
	position: absolute;
	margin-left: 100%;
	margin-top: 45px;
	margin-bottom: 0px;
	/*padding-left: 10px;*/
	overflow: hidden;
	width: 98%;
	height: 100%;
	background-color: white;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	font-size: 14px;
}

.pageRightVis {
	
	z-index: 4;
	position: absolute;
	margin-left: 1%;
	margin-top: 45px;
	margin-bottom: 0px;
	/*padding-left: 10px;*/
	width: 98%;
	height: 100%;
	overflow: hidden;
	background-color: white;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	font-size: 14px;
}

#pageLeft {
	font-size: 14px;
	background: #454545;
}

/*.pageLeftInv {
	position: absolute;
	float: left;
	top: 45px;
	bottom: 0;
	overflow: hidden;
	z-index: 4;
	background: #454545;
	width: 200px;
	margin-left: -200px;
	font-size: 14px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}*/

/*.pageLeftVis {
	position: absolute;
	float: left;
	top: 45px;
	bottom: 0;
	overflow: hidden;
	z-index: 4;
	background: #454545;
	width: 200px;
	margin-left: 0;
	font-size: 14px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
}*/

/*
	Wrapper has to have smaller height than content in order
	for iScroll to work
*/
#menuContent {
	
	height: 100%;
}

#menuList {
	
	width: 200px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #E2E2E2;
	list-style: none;
	
	
}

.currentMenuItem {
	color: #454545;
	background-color: #B7B7B7;
}

#menuList li{
	z-index: 5;
	width: 95%;
	padding-left: 5%;
	border-bottom:3px black;
	border-style: groove;
	display: block;
	height:40px;
	line-height:40px;
	
}

#menuList li:active {
	
}
#categoryHeader {
	font-size: 16px;
	
	margin-left: 0px;
	display: block;
	font-weight: bold;
	color: #9E9E9E;
}



#wrapperRight , #wrapperContactDetail{
	position: absolute;
	top: 0;
	bottom: 45px;
	right: 8px;
	left: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

#scrollerRight {
	
	overflow: hidden;
}

h1 {
	
	font-weight: 550;
	color: rgb(233, 88, 5);
	padding-top: 60px;
	
	font-size: 18px;
}

table {
	width: 100%;
}

.normalH1 {
	font-weight: 550;
	color: rgb(233, 88, 5);
	padding-top: 60px;
	padding-left: 15px;
	font-size: 18px;
    

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	/*background-image:url('../img/background2.png');
	background-repeat:repeat;*/
	background-color: white;
	overflow: hidden;
	left: 0;
	/*width: 100%;*/
}

#content {

	margin-left: 10px;
	margin-right: 10px;
	right: 0;

}

#newsList, #eventsList, #contactsList, #amtList {
	list-style: none;
	
}


#newsList li , #eventsList li{
	height: 93px;
	/*border-top: solid 1px gray;*/
	background-color: #EDEAEA;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	margin-bottom: 5px;
	color: #3BA89D;
	font-weight: bold;
	font-size: 14px;
	line-height: 13px;
	overflow: hidden;
}

.newsListItem , .eventsListItem{
	padding-top: 7px;
}

#newsList li.listDate, #eventsList li.listDate{
	height: 18px;
	line-height: 18px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background-color: #3BA89D;
	padding-left: 10px;
	margin-bottom: 0px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
/**
 *
 * Pull down styles
 *
 */
#pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pullIcon.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}

#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}



